@font-face {
    font-family: 'GRAND DUKE';
    src: url('../../webfonts/GRANDDUKERegular.woff2') format('woff2'),
        url('../../webfonts/GRANDDUKERegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GRAND DUKE';
    src: url('../../webfonts/GRANDDUKERegular.woff2') format('woff2'),
        url('../../webfonts/GRANDDUKERegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hamburg Hand';
    src: url('../../webfonts/HamburgHandRegular.woff2') format('woff2'),
        url('../../webfonts/HamburgHandRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hamburg Hand';
    src: url('../../webfonts/HamburgHandBold.woff2') format('woff2'),
        url('../../webfonts/HamburgHandBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hamburg Hand';
    src: url('../../webfonts/HamburgHandLight.woff2') format('woff2'),
        url('../../webfonts/HamburgHandLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

