/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
// All fonts and headers (unless overwritten) will be effected.

  $primary: #141414;
  $background: #f8f8ff;

  $red: #f88fa5;
  $yellow: #f3c78f;
  $green: #a1c8b4;

// Brand palette colors.
// Use the color type as opposed to "secondary" or "tertiary" or something.

  // $cyan: #E0FFFF;
